In [13]:
def avr(a,b):
    average=(a+b)/2
    return average
    
    
v=avr(5,7)
print(v)

6.0

In [14]:
def summ(a,b):
    sum=(a+b)
    return sum
    
    
v=summ(5,7)
print(v)

12

In [16]:
l=[["akram",5], ["Tathir",7],["Akash",8],["Krishna",3]]
for item, lollypop in l:
    print(item," eats ",lollypop," lollypops\n")

akram  eats  5  lollypops

Tathir  eats  7  lollypops

Akash  eats  8  lollypops

Krishna  eats  3  lollypops

In [18]:
n=[4,8,2,9,4,8,0,5,6,1]
max(n)

9

In [19]:
min(n)

0

In [20]:
n.pop()

1

In [21]:
n

[4, 8, 2, 9, 4, 8, 0, 5, 6]

In [23]:
n.append(7)

In [24]:
n

[4, 8, 2, 9, 4, 8, 0, 5, 6, 7]

In [39]:
d={"Akram":{"Breakfast":"Puri sabji","Lunch":"briyani","Dinner":"Alu paratha"},"Tathir":{"Breakfast":"Puri sabji","Lunch":"briyani","Dinner":"Alu paratha"}}

In [38]:
print(d["Akram"]["Breakfast"])

Puri sabji

In [42]:
print(d["Tathir"]["Dinner"])

Alu paratha

In [46]:
n=int(input("please enter the number \n"))
for i in range(1,11):
    print(n*i,"\n\n")

please enter the number
2
2


4


6


8


10


12


14


16


18


20

In [49]:
n=int(input("please enter the number \n"))
i=1
while(i<11):
    print(n*i,"\n\n")
    i+=1

please enter the number
5
5


10


15


20


25


30


35


40


45


50

In [53]:
for i in range(2000,3201):
    if(i%7==0) and ()