In [13]:
def avr(a,b):
    average=(a+b)/2
    return average
    
    
v=avr(5,7)
print(v)

6.0

In [14]:
def summ(a,b):
    sum=(a+b)
    return sum
    
    
v=summ(5,7)
print(v)

12

In [16]:
l=[["akram",5], ["Tathir",7],["Akash",8],["Krishna",3]]
for item, lollypop in l:
    print(item," eats ",lollypop," lollypops\n")

akram  eats  5  lollypops

Tathir  eats  7  lollypops

Akash  eats  8  lollypops

Krishna  eats  3  lollypops

In [18]:
n=[4,8,2,9,4,8,0,5,6,1]
max(n)

9

In [19]:
min(n)

0

In [20]:
n.pop()

1

In [21]:
n

[4, 8, 2, 9, 4, 8, 0, 5, 6]

In [23]:
n.append(7)

In [24]:
n

[4, 8, 2, 9, 4, 8, 0, 5, 6, 7]

In [39]:
d={"Akram":{"Breakfast":"Puri sabji","Lunch":"briyani","Dinner":"Alu paratha"},"Tathir":{"Breakfast":"Puri sabji","Lunch":"briyani","Dinner":"Alu paratha"}}

In [38]:
print(d["Akram"]["Breakfast"])

Puri sabji

In [42]:
print(d["Tathir"]["Dinner"])

Alu paratha

In [46]:
n=int(input("please enter the number \n"))
for i in range(1,11):
    print(n*i,"\n\n")

please enter the number
2
2


4


6


8


10


12


14


16


18


20

In [49]:
n=int(input("please enter the number \n"))
i=1
while(i<11):
    print(n*i,"\n\n")
    i+=1

please enter the number
5
5


10


15


20


25


30


35


40


45


50

In [55]:
for i in range(2000,3201):
    if(i%7==0) and (i%5!=0):
        print(i," , ")

2002  ,
2009  ,
2016  ,
2023  ,
2037  ,
2044  ,
2051  ,
2058  ,
2072  ,
2079  ,
2086  ,
2093  ,
2107  ,
2114  ,
2121  ,
2128  ,
2142  ,
2149  ,
2156  ,
2163  ,
2177  ,
2184  ,
2191  ,
2198  ,
2212  ,
2219  ,
2226  ,
2233  ,
2247  ,
2254  ,
2261  ,
2268  ,
2282  ,
2289  ,
2296  ,
2303  ,
2317  ,
2324  ,
2331  ,
2338  ,
2352  ,
2359  ,
2366  ,
2373  ,
2387  ,
2394  ,
2401  ,
2408  ,
2422  ,
2429  ,
2436  ,
2443  ,
2457  ,
2464  ,
2471  ,
2478  ,
2492  ,
2499  ,
2506  ,
2513  ,
2527  ,
2534  ,
2541  ,
2548  ,
2562  ,
2569  ,
2576  ,
2583  ,
2597  ,
2604  ,
2611  ,
2618  ,
2632  ,
2639  ,
2646  ,
2653  ,
2667  ,
2674  ,
2681  ,
2688  ,
2702  ,
2709  ,
2716  ,
2723  ,
2737  ,
2744  ,
2751  ,
2758  ,
2772  ,
2779  ,
2786  ,
2793  ,
2807  ,
2814  ,
2821  ,
2828  ,
2842  ,
2849  ,
2856  ,
2863  ,
2877  ,
2884  ,
2891  ,
2898  ,
2912  ,
2919  ,
2926  ,
2933  ,
2947  ,
2954  ,
2961  ,
2968  ,
2982  ,
2989  ,
2996  ,
3003  ,
3017  ,
3024  ,
3031  ,
3038  ,
3052  ,
3059  ,
3066  ,
3073  ,
3087  ,
3094  ,
3101  ,
3108  ,
3122  ,
3129  ,
3136  ,
3143  ,
3157  ,
3164  ,
3171  ,
3178  ,
3192  ,
3199  ,

In [57]:
f=input("please enter your first name \n")
l=input("please enter your last name \n")

r="Hello {} {}".format(l,f)
print(r)

please enter your first name
Md Akram
please enter your last name
Khan
Hello Khan Md Akram

In [59]:
d=12
def vol(r):
    v=(4/3)*3.14*(r**3)
    print(v)
    
vol(d/2)

904.3199999999999

In [60]:
str=input("Please enter the string\n")
print(str[::-1])

Please enter the string
ineuron
norueni